{include file="public/head" /}
<form class="layui-form" method="post" action="{:url('Friendlink/edit')}">
    <input type="hidden" name="id" value="{$link.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{$link.name}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">链接地址</label>
        <div class="layui-input-block">
            <input type="text" name="url" value="{$link.url}"  required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="ordid" value="{$link.ordid}"   placeholder="越小越靠前" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-inline">
            <input type="text" name="img" value="{$link.img}"  id="img"  placeholder="图片" autocomplete="off" class="layui-input img">
        </div>
        {if condition="$link.img"}
        <img src="{:config('my_conf.web_url')}/{$link.img}" width="100" class="pic_pre" alt="">
        {/if}

        <button type="button" class="layui-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>上传图片
        </button>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="是" {if condition="$link['status'] eq 1"}checked{/if}>
            <input type="radio" name="status" value="0" title="否" {if condition="$link['status'] eq 0"}checked{/if}>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            //layer.msg(JSON.stringify(data.field));
        });
    });
</script>

<script>
    layui.use('upload', function(){
        var upload = layui.upload;
        var url="{:url('Upload/upload')}";
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: url //上传接口
            ,done: function(res){
                //上传完毕回调
               if(res.code == 1){
                   var data = res.data;
                   document.getElementById("img").value = data;
                   $('.pic_pre').css('display',"block");
                   $('.pic_pre').attr('src',"__ROOT__/"+data);
                   layer.msg('上传成功');
               }else {
                   layer.msg("上传失败");
               }
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>