<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {include file="public/head" /}
</head>
<body>
<blockquote class="layui-elem-quote">新增配置项</blockquote>
<form action="{:url('conf/add')}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">中文名</label>
        <div class="layui-input-inline">
            <input type="text" name="ch_name" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">配置项中文名</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">英文名</label>
        <div class="layui-input-inline">
            <input type="text" name="en_name" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">配置项英文名</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">配置项值</label>
        <div class="layui-input-inline">
            <input type="text" name="conf_value" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">配置项值</div>
    </div>

    <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">配置项相关说明</label>
    <div class="layui-input-block">
        <textarea name="info" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>









{include file="public/footer" /}
</body>
</html>