<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {include file="public/head" /}
</head>
<body>

<form action="{:url('conf/edit')}" method="post">
    <input type="hidden" name="id" value="{$res.id}">


    <div class="layui-form-item">
        <label class="layui-form-label">配置项中文名</label>
        <div class="layui-input-inline">
            <input type="text" name="ch_name" value="{$res.ch_name}" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">配置项中文名</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">配置项英文名</label>
        <div class="layui-input-inline">
            <input type="text" name="en_name" value="{$res.en_name}" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">配置项英文名</div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label">配置项值</label>
        <div class="layui-input-inline" style="width: 500px;">
            <input type="text" name="conf_value" value="{$res.conf_value}" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">配置项值</div>
    </div>

    <div class="layui-form-item layui-form-text" style="width: 700px;">
        <label class="layui-form-label">配置项相关说明</label>
        <div class="layui-input-block">
            <textarea name="info" placeholder="配置项相关说明" class="layui-textarea">{$res.info}</textarea>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>









{include file="public/footer" /}
</body>
</html>