{include file="public/head" /}
<form class="layui-form" action="{:url('User/change_password')}" method="post">
<div class="layui-form-item">
    <label class="layui-form-label">原密码</label>
    <div class="layui-input-inline">
        <input type="password" name="old_password" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux"></div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">新密码</label>
    <div class="layui-input-inline">
        <input type="password" name="new_password" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux"></div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">重复新密码</label>
    <div class="layui-input-inline">
        <input type="password" name="repeat_new_password" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux"></div>
</div>

<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>
</form>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            //layer.msg(JSON.stringify(data.field));
            return true;
        });
    });
</script>