{include file="public/head" /}
<form class="layui-form" action="{:url('User/upload_headimg')}" method="post">

    <div class="layui-form-item">
        <div class="layui-input-block" >
            <div class="layui-upload-drag" id="test10" style="margin: 0 auto; height: 175px;">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
        </div>
    </div>
    <input type="hidden" name="headimgurl" id="headimgurl" value="">
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>
</form>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            //layer.msg(JSON.stringify(data.field));
            return true;
        });
    });

</script>

<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;
        var url= "{:url('Upload/upload')}";
        //拖拽上传
        upload.render({
            elem: '#test10'
            ,size: 500 //限制文件大小，单位 KB
            ,url: url
            ,done: function(res){
                if(res.code == 1){
                    $('#test10').html("<img src='/"+res.data+"' style='max-width: 100%'>");
                    $("#headimgurl").val(res.data);
                    success("上传成功");
                }else {
                    error("上传失败,请重试");
                }
            }
        });


    });
</script>